<div id="soilDetailsHome">
	<h2 class="sideHeading">Soil Details</h2>
	<%= form_for :soils, url: {action: "search"}, method:'post' do |f| %>
		<% farm_names = current_user.farm_details.all.map {|p|  p.farm_name }  %>
		<%= f.label "Select Farm" %>
		<%= f.select("farm_name", farm_names, {prompt: 'Select Farm'}, style: "width:20%;") %><br/>
		<%= f.submit "Submit", class: 'submit_button' %>
	<% end %> 
</div>