
.round{
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 5px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

body {
    font-family:  'Helvetica Neue', Arial, Sans-Serif;
    font-size: 14px;
    color:#fff
}

/*Header*/
#header {
    height: 75px;
    width: 1000px;
    background: #2B3840;
    /*border-radius: 10px;*/
    border: 1px solid #eb521f;
    margin: 5px;
    float: left;
}

#header img{
   padding: 2em;
   background: #fff;
}

#header h1{
   padding-top: .7em;
   text-align: center;
   font-size: 250%;
   font-weight: bold;
   color: white;
}


#navigation {
    float: left;
    height: 40px;
    width: 1000px;
    background: #2B3840;
    /*border-radius: 10px;*/
    border: 1px solid #ebb81f;
    margin: 5px;
    text-align: left;
}

#leftcolumn {
    min-height: 300px;
    background: #95a5a6;
    width: 200px;
    float: left;
    /*border-radius: 10px;*/
    border: 1px solid #fff;
    margin: 5px;
}

/*sidebar detail*/
/*edit color of the links*/
#leftcolumn ul{
   padding: 0;
   margin: 0;
}

#leftcolumn ul li{
  list-style-type: none;
  padding: 0.2em;
  color: purple;
  border: 1px solid #fff;
  font-weight: bold;
}

#leftcolumn ul li a:visited{
   color: inherit;
}

#leftcolumn ul li a:hover{
   text-decoration: none;
}

#content{
    min-height: 300px;
    float: left;
    background: #ecf0f1;
    width: 750px;
    color: #333;
    margin: 5px;
}

#content h1{
   font-size: 200%;
   font-weight: bold;
}

#footer {
    height: 40px;
    width: 1000px;
    background: #2B3840;
    clear: both;
    /*border-radius: 10px;*/
    border: 1px solid #1feb52;
    margin: 5px;
    text-align: center;
}

#footer nav{
   float: none;
}

#debug{
  position: relative;
  color: black;
  width: 1000px;
  float: left;
  margin: 0 auto;
  clear: both;
}

#farmDetailsHome ul li{
  list-style-type: none;
  padding: 0.2em;
  font-weight: bold;
  display: inline-block;
}

textarea.message_area {
  width: 300px;
  height: 100px;
}

/*Links*/

a{
  text-decoration: none;
}


/*Navigation style*/
nav{
   float: right;
   padding: 0 0.7em;
   white-space: nowrap;
}
nav ul{
   padding: 0;
   padding-top: 0.5em;
   margin: 0;
}
nav ul li{
   list-style-type: none;
   display: inline-block;
   padding: 0.2em;
}
nav ul li a{
   padding: 0 5px;
   font-weight: bold;
   text-decoration: none;
}
nav ul li a:hover{
   text-decoration: underline;
}


/*Signup button styling*/
h2.sideHeading {
  text-align: center;
  font-weight: 200;
  font-size: 2em;
  margin-top: 7px;
  color: #34495e;
}
#homePage #signup_button{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none;
  background: #e74c3c;
  border: none;
  color: white;
  font-size: 150%;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  transition: box-shadow .4s ease;
}

#homePage #signup_button:hover {
  box-shadow: 1px 1px 5px #555;
}
#homePage #signup_button:active {
  box-shadow: 1px 1px 7px #222;
}
/*button style*/
.submit_button {
  border: none;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none;
}

.submit_button {
  font-family:  'Helvetica Neue', Arial, Sans-Serif;
  background: #e74c3c;
  color: white;
  font-size: 16px;
  font-weight: 150;
  cursor: pointer;
  transition: box-shadow .4s ease;
}

#showProfile .submit_button
{
  color: white;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  height: 30px;
  padding: 5px;
}

#signUp .submit_button{
  width: 30%;
  margin-left: 36%;
  margin-bottom: 17px;
  height: 40px;
}

#editProfile .submit_button {  
  color: white;  
  padding: 3px;
}

#addFarmDetails .submit_button {
  color: white;  
  padding: 3px;
}
#editFarm .submit_button{
  color: white;  
  padding: 3px;
}

.submit_button:hover {
  box-shadow: 1px 1px 5px #555;
}
.submit_button:active {
  box-shadow: 1px 1px 7px #222;
}

.button_align{
  float: right;
  white-space: nowrap;
}

.button_align ul li{
  list-style-type: none;
  padding: 0.2em;
  display: inline-block;
}


/*Sign Up form*/
table.tableDetails{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: #ecf0f1;
}

td.field {
   width: 40%;
   text-align: left;
   vertical-align: middle;
   background-color: #ecf0f1;
}

td label{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
td label{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

table tr.showProfileValues td{
  border-radius: 5px;
  height: 35px;
  outline: 0;
  -moz-outline-style: none;
  border: 1px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 14px;
}

table.tableDetails td input[type="text"],
table.tableDetails td input[type="password"]{
  width: 60%;
  margin-left: 1%;
  margin-bottom: 7px;
  height: 25px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none;
  border: 1px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 14px;
}

table.tableDetails td input[type="text"]:focus,
table.tableDetails td input[type="password"]:focus{
  border: 1px solid #3498db;
}


div.actions{
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 70%;
  text-align: center;
  width: 100px;
  color: #fff;
  padding: 1em;
  font-weight: bold;
  line-height: 1;
}

/*Error messages*/
.error_explanation{
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom: 20px;
   background-color: #f0f0f0;
}

.error_explanation h3{
   text-align: left;
   font-weight: bold;
   padding: 5px 5px 5px 15px;
   font-size: 12px;
   margin: -7px;
   background-color: #c00;
   color: #fff;
}

.error_explanation p{
   color: #333;
   margin-bottom: 0px;
   padding: 5px;
}

.error_explanation ul li{
   font-size: 12px;
   list-style: square;
}

/*customozing paginatin links*/
.pagination {
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}



.pagination a, .pagination .previous_page{
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.pagination .current {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

