<h2> Update Profile</h2>
<%= form_for(@user) do |fields|%>
	<%= render 'editProfileDetails', f:fields%>
	<div class="button_align">
		<ul>
			<li><%= fields.submit "Submit" %></li>
			<li><%= button_to "Cancel", :back %></li>
		</ul>
	</div>
	<% end%>