<div id="signUp">
<h2>Sign Up</h2>
<div class="form">
<%= form_for(@user) do |fields|%>
	<%= render "signupDetails", f: fields%>
	<%= fields.submit "Create Account", class: 'submit_button'%>
<% end%>
</div>
</div>
