<h2>Farm Details</h2>
<div id="homeFarmButton">
	<ul>
		<li><p><%= link_to "<button>Add</button>".html_safe, addfarm_path %></p></li>
		<li><%= button_to "Update", "#"%></li>
		<li><%= button_to "Delete", "#"%></li>
	</ul>
</div>
