<div id="farmDetailsHome">
<h2>Farm Details</h2>
<p>Here you can maintain yor farm details..</p>
	<ul>
		<li><%= link_to "<button>Add</button>".html_safe, addfarm_path %></li>
		<li><%= button_to "Update", "#"%></li>
		<li><%= button_to "Delete", "#"%></li>
	</ul>
</div>
