<h2>Farm Details</h2>
<div id="newFarm">
	<%= form_for(@newFarm) do |fields|%>
	<%= render "newFarmFields", f:fields%>
	<div class="button_align">
		<%= fields.submit "Submit"%>
		<%= link_to "<button>Cancel</button>".html_safe, :back %>
	</div>
	<% end%>
	
</div>