<div id="addFarmDetails">
	<h2>Farm Details</h2>
	<%= form_for(@newFarm) do |fields|%>
		<%= render "newFarmFields", f:fields%>
		<div class="button_align">
			<ul>
				<li><%= fields.submit "Submit", class: 'submit_button' %></li>
				<li><%= link_to "Cancel", farm_details_path, class: 'submit_button' %></li>
			</ul>
		</div>	
	<% end%>
</div>