<div id="addCropDetails">
	<h2 class="sideHeading">Add Crop Details</h2>
	<%= form_for(@crop) do |fields|%>
		<%= render "newCropFields", f:fields%>
		<div class="button_align">
			<ul>
				<li><%= fields.submit "Submit", class: 'submit_button' %></li>
				<li><%= link_to "Cancel", crops_path(search: selected_farm.id), class: 'submit_button' %></li>
			</ul>
		</div>	
	<% end%>
</div>